<div th:fragment="eventForm">
    <form th:action="@{${isEdit} ? '/event/edit/' + ${event.eventId} : '/eventForm'}" th:object="${event}" method="post">
      <input type="hidden" th:field="*{eventId}" />
      <div class="formFields">
        <div class="formTitle formTitle-center">
          <h1 th:text="${isEdit} ? 'Edit event' : 'Create a new event'">Create a new event</h1>
        </div>
        <!-- Left column -->
        <div>
          <label for="name">Event Name</label>
          <input type="text" id="name" th:field="*{name}" required minlength="2" maxlength="30">
        </div>
        <div>
          <label for="desc">Description</label>
          <input type="text" id="desc" th:field="*{desc}" required minlength="2" maxlength="75">
        </div>
        <div>
          <label for="dateTime">Date and Time</label>
          <input type="datetime-local" id="dateTime" name="dateTime"
          th:value="${formattedDateTime}"required>
        </div>
        <div>
          <label for="location">Location</label>
          <input type="text" id="location" th:field="*{location}" required minlength="2" maxlength="40">
        </div>
        <!-- Right column -->
        <div>
          <label for="category">Category</label>
          <input type="text" id="category" th:field="*{category}" required >
        </div>
        <div>
          <label for="capacity">Capacity</label>
          <input type="number" id="capacity" th:field="*{capacity}" required>
        </div>
        <div>
          <label for="price">Price</label>
          <input type="number" id="price" th:field="*{price}" required step="any">
        </div>
      </div>
      <div class="saveEvent">
        <a th:href="@{/}"> Cancel </a>
        <button type="submit" th:text="${isEdit} ? 'Update' : 'Save'">Save</button>
      </div>
      <div class="confirmationMsg">
        <p th:if="${confirmation}" th:text="${confirmation}"></p>
      </div>
    </form>
</div>