<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="filterForm">
        <form th:action="@{/}" method="get">
            
            
            <button th:each="cat : ${categories}"
                    type="submit"
                    name="categoryId"
                    th:value="${cat.categoryId}"
                    th:text="${cat.name}"
                    th:classappend="${cat.categoryId == selectedCategoryId} ? 'btn-dark' : 'btn-outline-dark'"
                    class="btn">
            </button>

            <button type="submit"
                    name="categoryId"
                    value=""
                    th:classappend="${selectedCategoryId == null} ? 'btn-dark' : 'btn-outline-dark'"
                    class="btn">
                All
            </button>
        </form>
    </div>
</body>
</html>
