<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <th:block th:fragment="head">
      <link rel="stylesheet" th:href="@{/styles.css}" />
    </th:block>

    <!-- PAGE HEADER fragment -->
    <header th:fragment="header">
      <div class="topbar">
        <div class="topbar-left">
          <div class="logo"><img src="/favicon.svg" alt="EventHub Logo"><a href="/" class="link">Eventhub</a></div>
          <form class="search">
            <input type="text" placeholder="Search" aria-label="Search" />
            <button type="button" class="mic">🎤</button>
          </form>
        </div>
        <div class="topbar-right">
          <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/register}" class="link">Sign up</a>
            <a th:href="@{/login}" class="link">Log in</a>
          </div>
          <div sec:authorize="isAuthenticated()">
            <span class="user-welcome" sec:authentication="name">Username</span>
            <form th:action="@{/logout}" method="post" style="display: inline;">
              <button type="submit" class="link" style="border:none;background:none;cursor:pointer;">Logout</button>
            </form>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
