<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  lang="en"
  th:fragment="layout(title, content)"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title th:replace="${title}">EventHub</title>

    <!-- Pull in <head> fragment (meta, css, etc.) -->
    <th:block th:replace="~{components/header :: head}"></th:block>
  </head>
  <body>
    <!-- Top navigation / page header -->
    <header th:replace="~{components/header :: header}"></header>

    <!--Success message for rsvp/edit/create event-->
    <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}" id="alert"></div>
    <!--Error message for rsvp/edit/create event-->
    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}" id="alert"></div>
    <!--javascript to add a timer to the message-->
    <script>
      window.addEventListener('DOMContentLoaded', function() {
        const alert = document.getElementById('alert');
        if(alert) {
          setTimeout(() => {
            alert.style.display = 'none';
          }, 3000);
        }
      });
    </script>
    <!-- Page content -->
    <main class="container" th:replace="${content}"></main>

    <!-- Footer -->
    <footer th:replace="~{components/footer :: footer}"></footer>
  </body>
</html>
